In [1]:
import pandas as pd
import ads

### OCI Data Science - Useful Tips
<details>
<summary><font size="2">Check for Public Internet Access</font></summary>

```python
import requests
response = requests.get("https://oracle.com")
assert response.status_code==200, "Internet connection failed"
```
</details>
<details>
<summary><font size="2">Helpful Documentation </font></summary>
<ul><li><a href="https://docs.cloud.oracle.com/en-us/iaas/data-science/using/data-science.htm">Data Science Service Documentation</a></li>
<li><a href="https://docs.cloud.oracle.com/iaas/tools/ads-sdk/latest/index.html">ADS documentation</a></li>
</ul>
</details>
<details>
<summary><font size="2">Typical Cell Imports and Settings for ADS</font></summary>

```python
%load_ext autoreload
%autoreload 2
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

import logging
logging.basicConfig(format='%(levelname)s:%(message)s', level=logging.ERROR)

import ads
from ads.dataset.factory import DatasetFactory
from ads.automl.provider import OracleAutoMLProvider
from ads.automl.driver import AutoML
from ads.evaluations.evaluator import ADSEvaluator
from ads.common.data import ADSData
from ads.explanations.explainer import ADSExplainer
from ads.explanations.mlx_global_explainer import MLXGlobalExplainer
from ads.explanations.mlx_local_explainer import MLXLocalExplainer
from ads.catalog.model import ModelCatalog
from ads.common.model_artifact import ModelArtifact
```
</details>
<details>
<summary><font size="2">Useful Environment Variables</font></summary>

```python
import os
print(os.environ["NB_SESSION_COMPARTMENT_OCID"])
print(os.environ["PROJECT_OCID"])
print(os.environ["USER_OCID"])
print(os.environ["TENANCY_OCID"])
print(os.environ["NB_REGION"])
```
</details>

## Parâmetros de conexão

* Nome de usuário
* Senha
* Caminho para o wallet
* Nome do serviço

In [8]:
parametros_conexao = {
    'user_name':'admin',
    'password':'hNmKgGWQ82wFg',
    'wallet_location':'/home/datascience/Wallet_TBgeral.zip',
    'service_name':'tbgeral_high'
}

In [9]:
import ads
import pandas as pd

In [10]:
df_pet = pd.DataFrame.ads.read_sql('SELECT * FROM ALURA_PET',
                                  connection_parameters=parametros_conexao)

In [11]:
df_pet

          SERVICO  PRECO
0           banho     30
1            tosa     35
2  tosa higienica     15
3        consulta    100
4          vacina     80
5       castracao   1000

In [12]:
df_pet_fidelidade = df_pet.copy()
df_pet_fidelidade['DESCONTOS'] = [10,10,10,15,15,15]
df_pet_fidelidade

          SERVICO  PRECO  DESCONTOS
0           banho     30         10
1            tosa     35         10
2  tosa higienica     15         10
3        consulta    100         15
4          vacina     80         15
5       castracao   1000         15

In [13]:
df_pet_fidelidade.ads.to_sql('ALURA_PET_FIDELIDADE',
                            connection_parameters=parametros_conexao)